<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= page[:title] || current_page.data.title %></title>
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "syntax" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body class="page">
    <header class="header">
      <h1 class="header__name">
        <%= current_link_to escape_html(history[:root]), root_path %>
      </h1>

      <% parent, _, child = adjacent_commits(history[:commits], commit: commit) %>

      <nav
        class="
          header__navigation
          navigation
          <%= (
            if parent.present? && child.blank?
              "navigation--previous"
            elsif parent.blank? && child.present?
              "navigation--next"
            end
          ) %>
        "
      >
        <% if parent.present? %>
          <% link_to commit_path(parent) do %>
            &#8592; Previous
          <% end %>
        <% end %>

        <% if child.present? %>
          <% link_to commit_path(child) do %>
            Next &#8594;
          <% end %>
        <% end %>
      </nav>
    </header>

    <main class="content">
      <details class="accordion content__item">
        <summary class="accordion__summary">
          <div class="accordion__closed">
            <nav class="commit-history u-mb-overflow-x--scroll">
              <% history[:commits].each do |commit| %>
                <%= current_link_to(
                  "",
                  commit_path(commit),
                  class: "commit-node commit-node--collapsed",
                  title: commit.subject,
                ) %>
              <% end %>
            </nav>

            <div class="accordion__toggle">
              <span class="accordion--desktop">
                <%= inline_svg("chevron-right.svg", title: "Open history") %>
              </span>

              <span class="accordion--mobile">
                <%= inline_svg("chevron-down.svg", title: "Open history") %>
              </span>
            </div>
          </div>

          <div class="accordion__opened">
            <div class="accordion__toggle accordion__toggle--fill">
              <span class="accordion--desktop">
                <%= inline_svg("chevron-left.svg", title: "Close history") %>
              </span>
              <span class="accordion--mobile">
                <%= inline_svg("chevron-up.svg", title: "Close history") %>
              </span>
            </div>
          </div>
        </summary>

        <nav class="commit-history commit-history--full u-mb-overflow-x--scroll">
          <% history[:commits].each do |commit| %>
            <%= current_link_to(
              (Tilt["md"].new { commit.subject }).render,
              commit_path(commit),
              class: "commit-node commit-node--full",
            ) %>
          <% end %>
        </nav>
      </details>

      <article
        class="
          commit-content
          <%= (
            if render_diffs
              "commit-content--grid"
            else
              "commit-content--single"
            end
          )%>
          content__item
          content__item--grow
        "
      >
        <section class="commit commit--message <%= "commit--long-content" if render_diffs %>">
          <% if out_of_date %>
            <aside class="banner">
              <mark>
                You're viewing an out-of-date version of the project.

                <% link_to root_path do %>
                  Read the latest version.
                <% end %>
              </mark>
            </aside>
          <% end %>

          <%= yield %>
        </section>

        <% if render_diffs %>
          <aside class="commit commit--diff commit--long-content">
            <% commit.diff_files.each do |diff_file| %>
              <%= partial("commits/file", locals: diff_file) %>
            <% end %>
          </aside>
        <% end %>
      </article>
    </main>
  </body>
</html>
