<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= page[:title] || current_page.data.title %></title>
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "syntax" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body class="page">
    <details id="table-of-contents" class="page__history" open>
      <summary class="page__history-summary">
        Table of Contents
      </summary>
      <nav class="history">
        <%= current_link_to escape_html(history[:root]), root_path %>

        <% history[:commits].each do |commit| %>
          <%= current_link_to escape_html(commit.message.lines.first), commit_path(commit) %>
        <% end %>
      </nav>
    </details>

    <main class="page__content">
      <header>
        <% if out_of_date %>
          <aside class="banner">
            <h2>
              You're viewing an out-of-date version of the project.

              <% link_to root_path do %>
                Read the latest version.
              <% end %>
            </h2>
          </aside>
        <% end %>

        <nav class="navigation">
          <% parent, _, child = adjacent_commits(history[:commits], commit: commit) %>

          <% if parent.present? %>
            <% link_to commit_path(parent) do %>
              &#8592; Previous
            <% end %>
          <% end %>

          <% if child.present? %>
            <% link_to commit_path(child) do %>
              Next &#8594;
            <% end %>
          <% end %>
        </nav>
      </header>

      <article class="commit">
        <%= yield %>
      </article>
    </main>
  </body>
</html>
