<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "site", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "syntax", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "main", "data-turbolinks-track": "reload" %>
  </head>
  <body class="page">
    <details id="table-of-contents" class="page__history" open data-turbolinks-permanent>
      <summary class="page__history-summary">Table of Contents</summary>
      <nav class="history">
        <% data.commits.sequence.each do |commit| %>
            <% link_to commit_path(commit) do %>
              <%= escape_html(commit.subject) %>
            <% end %>
        <% end %>
      </nav>
    </details>

    <main class="page__content">
      <header>
        <% if commit? %>
          <% ([nil] + data.commits.sequence).each_cons(2) do |parent, commit| %>
            <% if current?(commit) && parent.present? %>
              <% link_to commit_path(parent) do %>
                Previous
              <% end %>
            <% end %>
          <% end %>

          <% (data.commits.sequence + [nil]).each_cons(2) do |commit, child| %>
            <% if current?(commit) && child.present? %>
              <% link_to commit_path(child) do %>
                Next
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <% link_to(commit_path(data.commits.sequence.first)) do %>
            Get Started
          <% end %>
        <% end %>
      </header>

      <article>
        <%= yield %>
      </article>

      <% if commit? %>
<!-- Lack of Leading Whitespace is Significant -->
<% code("diff") do %>
<%= partial("commits/#{current_page.data.id}/diff.html") %>
<% end %>
      <% end %>
    </main>
  </body>
</html>
