<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || yield_content(:title) || "git-read" %></title>
    <%= stylesheet_link_tag "site", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "syntax", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "main", "data-turbolinks-track": "reload" %>
  </head>
  <body class="page">
    <details id="table-of-contents" class="page__history" open>
      <summary class="page__history-summary">Table of Contents</summary>
      <nav class="history">
        <%= current_link_to escape_html(File.basename(repository.dir.to_s)), "/index.html" %>

        <% repository.log(nil).reverse_each do |commit| %>
          <%= current_link_to escape_html(commit.message.lines.first), commit_path(commit) %>
        <% end %>
      </nav>
    </details>

    <main class="page__content">
      <header class="navigation">
        <% if defined?(commit) %>
          <% parent, _, child = adjacent_commits(commit) %>

          <% if parent.present? %>
            <% link_to commit_path(parent) do %>
              &#8592; Previous
            <% end %>
          <% end %>

          <% if child.present? %>
            <% link_to commit_path(child) do %>
              Next &#8594;
            <% end %>
          <% end %>
        <% else %>
          <% link_to commit_path(repository.log(nil).last) do %>
            Get Started &#8594;
          <% end %>
        <% end %>
      </header>

      <article class="commit">
        <%= yield %>

        <% if defined?(commit) %>
          <% parent, _, _ = adjacent_commits(commit) %>

          <% if parent.present? %>
            <% parent.diff(commit).each do |file| %>
              <%= partial("commits/file", locals: {
                file: file,
                name: file.path,
                language: "diff",
                contents: file.patch,
              }) %>
            <% end %>
          <% else %>
            <% commit.gtree.files.each do |name, file| %>
              <%= partial("commits/file", locals: {
                file: file,
                name: name,
                language: File.extname(name).gsub(".", ""),
                contents: file.contents,
              }) %>
            <% end %>
          <% end %>
        <% end %>
      </article>
    </main>
  </body>
</html>
