<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <aside>
      <% data.commits.sequence.each do |commit| %>
        <% link_to "/commits/#{commit.id}" do %>
          <%= escape_html(commit.subject) %>
        <% end %>
      <% end %>
    </aside>

    <nav>
      <% if current_page.data.id.present? %>
        <% ([nil] + data.commits.sequence).each_cons(2) do |parent, commit| %>
          <% if current_page.data.id == commit.id && parent.present? %>
            <% link_to "/commits/#{parent.id}" do %>
              Previous
            <% end %>
          <% end %>
        <% end %>

        <% (data.commits.sequence + [nil]).each_cons(2) do |commit, child| %>
          <% if current_page.data.id == commit.id && child.present? %>
            <% link_to "/commits/#{child.id}" do %>
              Next
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <% link_to "/commits/#{data.commits.sequence.first.id}" do %>
          Get Started
        <% end %>
      <% end %>
    </nav>

    <main>
      <article>
        <%= yield %>
      </article>

      <% if current_page.data.id.present? %>
        <% code("diff") do %>
          <%= partial("commits/#{current_page.data.id}/diff.html") %>
        <% end %>
      <% end %>
    </main>
  </body>
</html>
