<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= page[:title] || current_page.data.title %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body class="page">
    <header class="header">
      <h1 class="header__name">
        <a href="#">
          git-read
        </a>
      </h1>

      <nav class="
        header__navigation
        navigation
      ">
        <a href="#">
          &#8592; Previous
        </a>

        <a href="#">
          Next &#8594;
        </a>
      </nav>
    </header>

    <main class="content">
      <details class="accordion content__item">
        <summary class="accordion__summary">
          <div class="accordion__closed">
            <nav class="
              commit-history
              u-db-overflow-y--auto
              u-mb-overflow-x--scroll
            ">
              <% history[:commits].each do |commit| %>
                <%= link_to(
                  "",
                  "/commits/#{commit.sha}/index.html",
                  class: "commit-node commit-node--collapsed",
                  title: commit.message.lines.first
                ) %>
              <% end %>
            </nav>

            <div class="accordion__toggle">
              <span class="accordion--desktop">
                <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <title>Expand History</title>
                  <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"/>
                </svg>
              </span>

              <span class="accordion--mobile">
                <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <title>Expand History</title>
                  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z" clip-rule="evenodd"/>
                </svg>
              </span>
            </div>
          </div>

          <div class="accordion__opened">
            <div class="accordion__toggle accordion__toggle--fill">
              <span class="accordion--desktop">
                <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <title>Collapse History</title>
                  <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                </svg>
              </span>

              <span class="accordion--mobile">
                <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <title>Collapse History</title>
                  <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 01.708 0l6 6a.5.5 0 01-.708.708L8 5.707l-5.646 5.647a.5.5 0 01-.708-.708l6-6z" clip-rule="evenodd"/>
                </svg>
              </span>
            </div>
          </div>
        </summary>

        <nav class="
          commit-history
          commit-history--full
          u-db-overflow-y--auto
          u-mb-overflow-x--scroll
        ">
          <% history[:commits].each do |commit| %>
            <% link_to(
              "/commits/#{commit.sha}/index.html",
              class: "commit-node commit-node--full",
            ) do %>
              <%= markdown(commit.message.lines.first) %>
            <% end %>
          <% end %>
        </nav>
      </details>

      <article class="
        commit-content
        content__item
        content__item--grow
      ">
        <section class="commit commit--message">
          <%= yield %>
        </section>
      </article>
    </main>
  </body>
</html>
